#leo{
    &.container{
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        .filter{
            display: flex;
            flex-direction: column;
            gap: 8px;
            &-footer{
                display: flex;
                gap: 20px;
                button{
                    background-color: aquamarine;
                    color: black;
                    padding: 7px 15px;
                    border: 1px dashed aqua;
                    &.disable_1{
                        color: aqua;
                    }
                    &.active_2{
                        border: 1px solid #E47911;
                    }
                }
            }
            
            &-title{
                font-size: 14px;
                line-height: 20px;
                color: #555;
                font-weight: 400;
                span{
                    font-weight: 700;
                }
            }
            
            &-buttons{
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                button{
                    background-color: transparent;
                    outline: none;
                    padding: 5px 10px;
                    color: black;
                    border: 1px dashed #adb1b8;
                    &.disable{
                        color: #CCC;
                        color: #adb1b8;
                    }
                    &.active{
                        border: 1px solid #E47911;
                        
                    }

                }
            }
        }
    }
}

section{
    div{
        display: flex;
        div{
            flex-direction: column;
            img{
                max-width: 350px;
                width: 100%;
            }
        }
    }
}
div{
    h1{
        text-align: center;
    }
}